{% extends "base/base.html" %}

{% block content %}

<H1>Manufacturing Kanban</H1>
<p>This is a bare minimum web app for a manufacturing kanban</p>

<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createworkorderModal">Create Work Order</a>

<div class="modal fade" id="createworkorderModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Work Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'base:workorder-create' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-info">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex">

    {% for location in locations %}
        {% include "base/partials/location_column.html" %}
    {% endfor %}
</div>

{% endblock content %}