<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Locations</h5>
        </div>
        <div class="modal-body">
            <form hx-post="{% url 'base:location-create' %}" hx-target="#location-list">
                {% csrf_token %}
                {{ location_form.as_p }}
                <button type="submit" class="btn btn-outline-info">Create</button>
            </form>
            <form action="{% url 'base:location-sort' %}" method="post">
                {% csrf_token %}
                <div id="location-list">
                    {% include "base/partials/location_list.html" %}
                </div>
                <button type="submit" class="btn btn-info">Save</button>
            </form>
        </div>
    </div>
</div>