<div class="card">
    <input type="hidden" name="workorder_priority" value="{{ workorder.id }}">
    <div class="card-header">
        <b>{{ workorder.name }}</b>
        <a class="btn btn-danger btn-sm float-end" hx-delete="{% url 'base:workorder-delete' workorder.id %}" hx-confirm="Are you sure you want to delete {{ workorder.name }}?" hx-target="#location-{{ location.id }}" hx-swap="outerHTML">X</a>
    </div>
    <div class="card-body">
        <div style="max-height: 100px; overflow: hidden;">
            {{ workorder.part.name }}
            {{ workorder.part.description }}
        </div>
    </div>
</div>